html{
  font-size: small;
  scroll-behavior: smooth;
  
}
body{
  background-color: #002c3e;
  height: 4000px;
}
*{
  margin:0 0 0 0;
  padding: 0 0 0 0;
}
/*blob*/
.blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: #f7444e;
  width: 50vmax;
  z-index: -1;
  animation: move 3s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move {
  0%   { transform: scale(1)   translate(50px, -30px); }
  38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  100% { transform: scale(1)   translate(10px, -30px); }
}
/*hamburger menu*/
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 24px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #f7444e;
  transition-duration: .50s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color:#f7f8f3;
  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 20px 0px 0px 26px ;
  color: #002c3e;
  font-family: Poppins,sans-serif;
  font-weight: thin;
  font-size: large;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  color: #f7444e;
}
.menu_head{
  display: block;
  padding: 30px 0px 0px 24px;
  color: #002c3e;
  font-family: Poppins,sans-serif;
  font-weight: bold;
  font-size:1.5em;
  text-decoration: none;
  transition-duration: .25s;
}

.v5_29 {
  width: 100%;
  height: 3524px;
  background: rgba(0,44,62,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow-x: hidden;
  scroll-behavior: auto;
}
.v5_30 {
  width: 544px;
  height: 350px;
  background: rgba(0,173,181,1);
  opacity: 1;
  position: absolute;
  top: 422px;
  left: 862px;
  border-radius: 50%;
}
.v5_31 {
  width: 342px;
  height: 298px;
  background: rgba(247,68,78,1);
  opacity: 1;
  position: absolute;
  top: 146px;
  left: 928px;
  overflow: hidden;
}
.v5_32 {
  width: 100%;
  height: 780px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 200px;
  left: 60px;
  font-family: Quicksand;
  font-weight: Bold;
  font-size: 131px;
  opacity: 1;
  text-align: left;
}

.v5_34 {
  width: 100%;
  height: 875px;
  background: rgba(244,244,244,1);
  opacity: 1;
  position: absolute;
  margin:none;
  top: 780px;
  float: left;
}
.v5_35 {
  width: 50%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 180px;
  left: 60px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v5_36 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 30px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 39px;
  opacity: 1;
  text-align: center;
}
.v5_37 {
  width: 500px;
  height: 628px;
  background-image: url("https://images.unsplash.com/photo-1605918321371-584f5deab0a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8M3w4ODYyMDQ5fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60") ;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 180px;
  right: 0px;
  overflow: hidden;
}
.v5_38 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1810px;
  left: 0px;
  font-family: QuickSand;
  font-weight: Light;
  font-size: 95px;
  opacity: 1;
  text-align: center;
}
.v5_39 {
  width: 1080px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2060px;
  left: 67px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v5_40 {
  width: 479px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2438px;
  left: 93px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v5_41 {
  width: 479px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2779px;
  left: 655px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v5_42 {
  width: 479px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2966px;
  left: 93px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v5_43 {
  width: 479px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2313px;
  left: 655px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}

